* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
}

html,
body {
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#screen {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.instructions {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#controls {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
#controls.show {
  display: flex;
}

#container_allRays,
#container_singleRay {
  display: none;
  position: fixed;
  z-index: 3;
  width: 200px;
  height: 200px;
}

#container_allRays {
  top: 50%;
  right: 50px;
  margin-top: -100px;
}
#container_singleRay {
  top: 50%;
  left: 50px;
  margin-top: -100px;
}

#container_allRays.show,
#container_singleRay.show {
  display: block;
}

#container_allRays canvas,
#container_singleRay canvas {
  width: 100% !important;
  height: 100% !important;
}

button {
  background: transparent;
  color: #fff;
  border-width: 0px;
  cursor: pointer;
  line-height: 30px;
}

.github {
  position: fixed;
  right: 10px;
  bottom: 0px;
}
.github img {
  width: 150px;
}
